<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ParkenDD Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ParkenDD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ParkenDDTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ParkenDDWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>390CD0481AEE6602003EB8F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39B9534F1AA0A59600026EC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F4CFDD1A6BBC0200ACFECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F4CFF21A6BBC0200ACFECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
